@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #255302 !important;
}

.bg-image {
  background-image: url("images/agrigate_pc.png");
  height: 500px;
  /* height: 233px; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.construction_text_1 {
  margin-top: 20px;
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.construction_text_2 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: -20px;
  /* line-height: 10px; */
}

.footer-part {
  margin-top: 120px;
}

.follow-us-text {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 4px;
}

.footer-url-links {
  /* display: flex;
  justify-content: space-between; */
  display: block;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.second-url-link {
  margin-left: 12px;
}

.footer-second-column {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: white;
  line-height: 16px;
}

/* --------------------------------------------- media screen for tab ( portrait ) ------------------------------------------- */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
}

/* ------------------------------------------------------------------------------------ end - media screen for tab ( portrait )  */

/* ------------------------------------------ media screen for tab (landscape) ------------------------------------------------- */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}

/* -------------------------------------------------------------------------------------- end - media screen for tab (landscape) */

/* --------------------------------------------- media screen for tab (pro) portrait ------------------------------------------- */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* ---------------------------------------------------------------------------------- end - media screen for tab (pro) portrait */

/* ---------------------------------------------- media screen for tab ( pro ) landscape --------------------------------------- */

@media only screen and (min-device-width: 1366px) and (min-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ------------------------------------------------------------------------------- end - media screen for tab ( pro ) landscape  */

/* ------------------------------------------------------- media screen for mobile devices ------------------------------------- */
@media only screen and (max-width: 600px) {
  .bg-image {
    background-image: url("images/agrigate_mobile.png");
    height: 300px;
    /* height: 233px; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .construction_text_1,
  .construction_text_2 {
    font-size: 20px;
  }

  .construction_text_2 {
    margin-top: -12px;
  }

  .footer-part {
    margin-top: 40px;
  }

  .footer-url-links {
    margin-top: 14px;
  }

  .footer-second-column {
    font-size: 16px;
    margin-top: 50px;
    line-height: 14px;
  }
}

/* --------------------------------------------------------------------------------------  end - media screen for mobile devices */

/* ---------------------------------------- media screen for 1366 x 768 desktop screens ---------------------------------------- */

@media only screen and (device-width: 1366px) and (device-height: 768px) {
}

/* --------------------------------------------------------------------------- end - media screen for 1366 x 768 desktop screens */
